body {
    background-color: #EDDDD4;
    margin: 0;
}

header {
    display: flex;
    margin:0;
    padding:0;
    position:fixed;
    top:0;
    height:75px;
    width:100%;
    background-color: #283D3B;
}

main {
    margin-top:75px;
    padding:25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #283D3B;
}

main a {
    color: #C64430;
    font-size: large;
    text-decoration: none;
}

p {
    margin-block-start: 0em;
}

ul {
    margin:0;
}

.navbar-logo {
    position: 1;
    height:50px;
    margin-right:60px;
    padding:auto;
    margin-top:12px;
}

.navbar li {
    color:  #EDDDD4;
    font-family: 'IM Fell English', serif;
    float: left;
    display: block; 
    min-width: 150px;
    height: 75px;
    line-height: 75px;
    white-space: nowrap;
}

.navbar li:hover{
    text-decoration: underline;
}


.twocols {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin:4vw;
}

.col-first {
    text-align: center;
    flex: 1 1 200px;
    border:0px;
    border-style: solid;
}

.col-second{
    flex: 3 1 300px;
    border: 0px;
    margin: 0 20px 0 20px;
    border-style: none;
}

.picphoto{
    max-width:300px;
    width:100%;
}

.download-link{
    display: block;
    margin: 20px 0 20px 0;
}

.homepage {
    background-color: #283D3B;
}

.homepage footer{
    display: fixed;
    width:100%;
    text-align: center;
}


